extends ../layout

block content
  .container
    if survey.id
      h1.page-header 설문조사 수정
    else
      h1.page-header 설문조사 작성
    
    form(action = (survey.id) ? "/survey/#{survey.id}?_method=PUT" : "/survey", method='POST')
      .form-group
        label(for='email') 이메일
        input.form-control(id='email', name='email' , placeholder='email', value=survey.email)
      .form-group
        label(for='title') 설문 주제
        input.form-control(type='text', id='title', name='title', placeholder='title', value=survey.title)
      .form-group
        label 1
        div
        input(name='select', type='radio' value='2')
        | 
        input(name='opinion', type='text')
        div
        input(name='select', type='radio' value='2')
        | 
        input(name='opinion', type='text')
        div
        input(name='select', type='radio' value='2')
        | 
        input(name='opinion', type='text')
        div
        input(name='select', type='radio' value='2')
        | 기타
        input(name='opinion', type='text')
        div
        label 2
        input.form-control(type='text', id='title', name='title', placeholder='주관식 의견')
        div
        label 3
        textarea.form-control(id='content', rows='10', name='content', placeholder='기이이~~~~~~~~~~~~인 의견')
        //- input(type='checkbox')
        //-   label 아몰랑
        
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= survey.content
        
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로
        |  
        button.btn.btn-primary(type='submit') 완료
        | 
        button.btn.btn-success(style='display:none' type='button') 전송중
        | 
        select(name='select')
          option(value='a') 객관식
          option(value='b') 주관식
        | 
        button.btn.btn-default 추가
    script(type='text/javascript').
      $(".btn-primary").click(function(e) {
        $(e.currentTarget).hide();
        $('.btn-success').show();
      });
        
        
      
