extends ../layout

block content
  .container
    h1.page-header 설문조사 응답
    //- h1.page-header 설문조사 응답
    //- h3.page-header= survey.title
    //- h3 by #{survey.email}
    //- .well= survey.content
    //- 
    //- p
    //-   b by #{survey.number}
    //-   | 
    //-   span at #{moment(survey.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
    //-   | 
    //-   | (조회수 #{survey.read})
    //- p.well(style='white-space:pre;')= survey.content
    //- 
    //- a.btn.btn-default(href='/survey/current') 목록
